img {
    max-height: 75%;
    max-width: 100%;
}

.tree-tile {
    background-color: white;
    border: 5px solid black;
    cursor: pointer;
    display: inline-block;
    height: 20em;
    margin-bottom: 5px;
    margin-right: 5px;
    overflow: hidden;
    padding: 5px;
    position: relative;
    transition: margin .2s ease-out;
    vertical-align: top;
    width: 15em;
}

.tree-tile:hover {
    margin-bottom: -15px;
    margin-top: 20px;
    z-index: 8;
}

.title {
    font-weight: bold;
}