---
import TreeContainer from '../components/tree-container';
import TreeTable from '../components/tree-table.astro';
import type TreeMetadata from '../types/tree-metadata'

const title: string = "baum_index"

const results = Object.values(import.meta.glob("/public/metadata.json", {eager: true}));
const treeList = (results as {default: TreeMetadata[]}[])[0].default;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<h1>{title}</h1>
		<p>
			Please find below a list of common British trees....
			All images stolen from the internet with no rights reserved.
		</p>
		
		<TreeContainer treeMetadatas={treeList} client:load />

		<h2>Common British trees</h2>
		<p>Here are the most common trees in the UK, according to the NBN Atlas:</p>

		<TreeTable />
	</body>
</html>

<style>
	body {
		font-family: "Lucida Console";
	}

	h1 {
		background-color: lightseagreen;
		border: black 5px dashed;
		color: white;
	}

	body::selection {
		background-color: magenta;
	}
</style>
