---
import TreeContainer from '../components/tree-container';
import type TreeMetadata from '../types/tree-metadata'

const title: string = "baum_index"

const dummySummary: string = "Placeholder text demonstrating how cool this tree is"
const treeList: TreeMetadata[] = [
	{ name: "Beech", imgFilename: "beech.jpg", summary: dummySummary },
	{ name: "Oak", imgFilename: "oak.jpg", summary: dummySummary },
	{ name: "Ash", imgFilename: "ash.jpg", summary: dummySummary },
	{ name: "Elm", imgFilename: "elm.jpg", summary: dummySummary },
	{ name: "Hazel", imgFilename: "hazel.jpg", summary: dummySummary },
	{ name: "Willow", imgFilename: "willow.jpg", summary: dummySummary },
	{ name: "Spruce", imgFilename: "spruce.jpg", summary: dummySummary },
	{ name: "London Plane", imgFilename: "london_plane.jpg", summary: dummySummary },
	{ name: "Rowan", imgFilename: "rowan.jpg", summary: dummySummary },
	{ name: "Silver Birch", imgFilename: "silver_birch.jpg", summary: dummySummary },
]
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<h1>{title}</h1>
		<p>
			Please find below a list of common British trees....
			All images stolen from the internet with no rights reserved.
		</p>
		
		<TreeContainer treeMetadatas={treeList} />
	</body>
</html>

<style>
	body {
		font-family: "Lucida Console";
	}

	h1 {
		background-color: lightseagreen;
		border: black 5px dashed;
		color: white;
	}

	body::selection {
		background-color: magenta;
	}
</style>
