img {
    max-height: 75%;
    max-width: 100%;
}

.tree-popout {
    background-color: white;
    border: 5px solid black;
    display: flex;
    height: 30em;
    left: 100px;
    margin: auto;
    position: fixed;
    top: 100px;
    width: 40em;
    z-index: 16;
}

.tree-popout .image-pane {
    border-right: 5px dashed black;
    height: 100%;
    padding: 5px;
    vertical-align: top;
    width: 50%;
}

.tree-popout .text-pane {
    height: 100%;
    padding: 5px;
    vertical-align: top;
    width: 50%;
}

.tree-popout .text-pane .exit-button {
    border: solid 2px darkgrey;
    color: darkgrey;
    cursor: pointer;
    float: right;
    padding: 5px;
    text-align: right;
    width: fit-content;
}

.tree-popout .text-pane .exit-button:hover {
    background-color: lightseagreen;
    color: white;
    font-weight: bold;
    text-decoration: underline;
}