---
import getCommonTrees from "../queries/get-common-trees";

const result = await getCommonTrees();
---
<table>
    {result.success && result.data.map(row =>
        <tr>
            <td>{row.name}</td>
            <td>{row.latin_name}</td>
            <td>{row.is_native ? "Native" : "Not native"}</td>
        </tr>
    )}
    {!result.success && <p class={"error"}>Sorry, an error occurred. ⛔⛔⛔⛔</p>}
</table>

<style>
    table {
        border-collapse: collapse;
    }

    td {
        border: 5px solid black;
        padding: 5px;
    }

    tr:hover {
        background-color: lightgrey;
    }

    p.error {
        border: solid 2px red;
        padding: 5px;
        width: fit-content;
    }
</style>