---
import TreePopout from "./tree-popout.astro";
import TreeTile from "./tree-tile";
import type TreeMetadata from "../types/tree-metadata"

const { treeMetadatas } = Astro.props;
const isPoppedOut: boolean = false;

function sortTreeMetadata(tm1: TreeMetadata, tm2: TreeMetadata): number {
    const s1 = tm1.name.toUpperCase();
    const s2 = tm2.name.toUpperCase();

    if (s1 > s2)
        return 1;
    else if (s1 < s2)
        return -1;
    else
        return 0;
}
---

<div>
    {(treeMetadatas as TreeMetadata[]).sort(sortTreeMetadata).map(t =>
        <TreeTile name={t.name} imgFilename={t.imgFilename} summary={t.summary} />
    )}
    {isPoppedOut &&
        <TreePopout name="Willow" imgFilename="willow.jpg" fullDescription="Some dummy text...." />}
</div>